#alert-section {
  //height: 100vh;
  //width:100%;
  //Comment these below if you want to change back to the grid view
  min-height: 5vmax;
  min-width: 250px;
  width: 250px;
  margin-top: 15px;
  //Comment these above if you want to change back to the grid view
  -webkit-box-shadow: 0 0 18px -5px rgba(0,0,0,0.65);
  -moz-box-shadow: 0 0 18px -5px rgba(0,0,0,0.65);
  box-shadow: 0 0 18px -5px rgba(0,0,0,0.65);
  //-webkit-border-radius: 7px;
  //-moz-border-radius: 7px;
  //border-radius: 7px;
  //border-style: solid;
  //border-width: 2px;
  //border-color: grey;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: $primarylight2;
  overflow-y: auto;
  display: inline-block;

  .btn {
    background-color: $primarycolor;
    margin-bottom: 10px;
  }
}

#alert-section-container {
  margin: 0 auto;
  max-width: 1280px;
  width: 92%;
  padding-top: 0;
}
