.blur{
//
}

#left-section {
    .alert-header{
    }
    .modal-underlay{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        opacity: 0.7;
        background: black;
        z-index: 1;
    }
    .modal {
        display: block;
        position: fixed;
        background-color: #34555e;
        z-index: 1;
    }
}
.alert-message {
    p {
        padding: 10px;
        margin: 5px 10px 5px 10px;
        color: #fff;
        text-align: left;
        overflow: hidden;
        font-size: 1.2rem;
    }
}
