$border-color: #608d8b;

.alert-section-header {
  font-size: 2.0rem;
}

.alert-box {
  display: block;
  width: 100%;
  min-height: 5vmax;
  border-radius: 5px;
  margin: 10px auto;
  background-color: $feedbackgroundcolor;
  overflow: hidden;
  color: $textcolor;

  .alert-header {
    display: block;
    min-height: 50px;
    color: rgb(255, 255, 255);
    align-items: baseline;
    display: table;
    color: $textcolor;

    .alert-type {
      i {
        margin: 5px;
        float: left;
        font-size: 2.7rem;
        margin-left: 8px;
        margin-right: 8px;
        display: table-cell;
        vertical-align: middle;
      }

      div {
        min-height: 50px;
        float: left;
        display: inline-block;
        margin-left: 4px;
        font-size: 1.9rem;
        vertical-align: middle;
        color: $textcolor;
        display: table;

        span {
          vertical-align: top;
          display: table-cell;
          vertical-align: middle;
        }
      }
    }

    .divider {
      float: none;
      margin-top: 8px;
      background-color: #a1a1a1;
    }
  }

  .alert-message {
    color: $textcolor;

    p {
      color: $textcolor;
      line-height: 1.6;
      font-size: 12px;
    }
  }

  a {
    z-index: auto;
    background-color: $primarycolor;
    margin-bottom: 16px;
  }
}
