#news-section-container {
  max-width: 1240px;
  width: 90%;
  margin-top: 22px;

  #content-area-row {
    .user-col {
      text-align: right;

      .user-pic-wrapper {
        width: 100%;
        overflow: auto;

        .user-pic {
          border-radius: 50%;
          float: right;
        }

        .user-name {
          margin: 0 !important;
          text-align: right;
        }

        .time {
          margin: 0 !important;
          text-align: right;
        }
      }
    }

    #news-editor-area {
      background-color: $primarylight2;
      border-radius: 10px;

      #news-header {
        text-align: left;
        margin-top: 25px;
        font-size: 1.4em;

        input {
          background-color: white;
          margin-top: 10px;
        }
      }

      #quill-area {
        height: 83vh;
        display: block;
        margin-top: 26px;

        .ql-toolbar {
          background-color: white;
          border-radius: 0.6em;
          margin-bottom: 10px;
        }

        .ql-container {
          background-color: white;
          font-size: 1.2em;
        }

        button {
          margin-top: 5px;
          margin-left: 10px;
          float: right;
        }
      }
    }
  }

  #preview {
    margin-top: 22px;
    margin-bottom: 30px;
    background: $primarylight2;
    display: block;
    height: 25vh;
  }
}
////////////////////////////////////
