#alert-preview {
  width: 50%;
  display: block;
  float: center;
}
.feed-item-container {
  background-color: #fff;
  overflow: auto;
  #feed-item-header {
    background-color: $primarylight2;
    height: 70px;
    padding: 16px 45px;
    h4 {
      margin: 0;
      padding: 0;
      font-size: 25px;
      text-align: left;
      display: flex;
      align-items: center;
    }
  }
  .feed-item-body {
    padding: 0 30px 16px;
    height: 100%;
    overflow: auto;
    p {
      line-height: 1.8;
    }
  }
}
