#event-section-container {
  max-width: 1280px;
  width: 100%;
  //margin-top: 22px;
  #content-area-row {
    .user-col {
      text-align: left;

      .user-pic-wrapper {
        width: 100%;
        overflow: auto;

        .user-pic {
          border-radius: 50%;
          float: left;
        }

        .user-name {
          margin: 0 !important;
          text-align: left;
        }

        .time {
          margin: 0 !important;
          text-align: left;
        }
      }
    }

    #event-editor-area {
      background-color: #FFFFFF;
      -webkit-box-shadow: -1px 1px 25px -9px rgba(0,0,0,0.7);
      -moz-box-shadow: -1px 1px 25px -9px rgba(0,0,0,0.7);
      box-shadow: -1px 1px 25px -9px rgba(0,0,0,0.7);
      border: 1px solid #aaa;
      border-radius: 4px;
      margin: 0;
      padding: 0;

      .event-editor-area-wrapper {
        .post-event-header {
          background-color: $primarylight2;
          height: 70px;
          padding: 16px 30px;

          h4 {
            margin: 0;
            padding: 0;
            font-size: 25px;
            text-align: left;
            display: flex;
            align-items: center;
          }
        }

        .post-event-body {
          background-color: $primarylight2;
          padding: 0 30px 16px;
          height: 500px;
          overflow: auto;

          #event-header {
            text-align: left;
            font-size: 1.4em;
            background-color: $primarylight2;
            border-color: #DEDEDE;

            input {
              background-color: white;
              margin-top: 10px;
              -webkit-box-shadow: 0 0 18px -5px rgba(0,0,0,0.65);
              -moz-box-shadow: 0 0 18px -5px rgba(0,0,0,0.65);
              box-shadow: 0 0 18px -5px rgba(0,0,0,0.65);
              -webkit-border-radius: 10px;
              -moz-border-radius: 10px;
              border-radius: 6px;
              height: 38px;
            }

            input::-webkit-input-placeholder {
              /* WebKit, Blink, Edge */
              color: #808080;
            }
          }

          #quill-area {
            height: 83vh;
            display: block;
            margin-top: 26px;

            .ql-toolbar {
              background-color: white;
              border-radius: 0.6em;
              margin-bottom: 10px;

              .ql-formats {
                button {
                  svg {}
                }
              }
            }

            .ql-container {
              background-color: white;
              font-size: 1.2em;
            }

            #saveDelta {
              background-color: $primarycolor;
              margin-top: 5px;
              margin-left: 10px;
              float: right;
            }
          }
        }
      }
    }
  }

  #preview {
    margin-top: 22px;
    margin-bottom: 30px;
    background: $primarylight2;
    display: block;
    height: 25vh;
  }
}
////////////////////////////////////
