#class-db-input {
  position: relative;
  top: 10%;
  left: 5%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid;
  min-width: 500px;
  max-width: 500px;

  h3 {
    margin: 0;
    padding: 0;
    font-size: 24px;
  }

  form {
    width: 80%;
  }
}

.right-content-wrapper {
  overflow: auto;
  height: 600px;
  min-height: 600px;
}
