.user-col {
  margin-top: 15px;
  text-align: left;

  .user-pic-wrapper {
    width: 100%;
    overflow: auto;

    .user-pic {
      border-radius: 50%;
      float: left;
    }

    .user-name {
      margin: 0 !important;
      text-align: left;
    }

    .time {
      margin: 0 !important;
      text-align: left;
    }
  }
}
///////////////////////////////////////

.comments {
  border: 1px;
  border-top: 0;
  border-style: solid;
  border: 1px solid #aaa;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 0 12px;
  align-items: baseline;
  align-content: center;

  i {
    display: inline-block;
    color: #1565c0;
  }

  h6 {
    margin-left: 8px;
    display: inline-block;
    vertical-align: bottom;
  }

  ul {
    a {
      color: #1565c0;
    }

    li {
      display: flex;
      align-items: center;

      img {
        border-radius: 50% !important;
        display: inline-block;
        margin-bottom: 15px;
        width: 20%;
        width: 44px;
        height: 44px;
      }

      .card {
        display: inline-block;
        border-radius: 0.5em;
        margin-left: 20px;
        width: 80%;
        vertical-align: bottom;
        box-shadow: 0 0 0 0;
      }

      .card::after {
        content: '';
        position: absolute;
        left: 0;
        top: 40%;
        width: 0;
        height: 0;
        border: 1.125em solid transparent;
        border-right-color: white;
        border-left: 0;
        border-bottom: 0;
        margin-top: -0.562em;
        margin-left: -1.125em;
      }

      .card-content {
        padding: 3px 8px 10px;
        min-height: 40px;

        h6 {
          display: inline-block;
          margin: 0 0 8px;
          border-radius: 0.3em;
          font-style: italic;
          font-weight: bold;
        }

        p {
          vertical-align: bottom;
          margin-left: 12px;
        }

        .comment-post-date {
          float: right;
          font-style: italic;
          font-size: 0.6em;
        }
      }
      opacity: 0;
      animation: {
        name: comments;
        duration: 200ms;
        timing-function: ease-in-out;
        fill-mode: forwards;
      }
      @keyframes comments {
        0% {
          opacity: 0;
          transform: translateX(300px);
        }

        100% {
          opacity: 1;
          transform: translateX(0px);
        }
      }
    }
  }
}
/////////////////////////////////////////////////////

.new-comment {
  .input-comment-form {
    .input-comment-body {
      display: flex;
      padding: 10px 5px;
      align-items: center;
      justify-content: flex-start;

      .circle {
        width: 44px;
        height: 44px;
      }

      .input-wrapper {
        margin-left: 10px;
        margin-right: 10px;
        height: 35px;
        overflow: auto;
        border-radius: 16px;
        border: 1px solid grey;
        width: 80%;

        input {
          position: relative;
          top: -6px;
          left: 5px;
          margin: 0 12px;
        }

        input::placeholder {
          /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: black;
          opacity: 0.55;
          font-size: 15px;
          /* Firefox */
        }
      }

      .btn-small {}
    }
  }
}
