.user-col {
  text-align: right;

  .user-pic-wrapper {
    width: 100%;
    overflow: auto;

    .user-pic {
      border-radius: 50%;
      float: right;
    }

    .user-name {
      margin: 0 !important;
      text-align: right;
    }

    .time {
      margin: 0 !important;
      text-align: right;
    }
  }
}

.comments {
  ul{
    li{
      opacity: 0;

      @for $i from 1 through 6{
        &:nth-child(#{$i}){
          animation: {
            name: comments;
            duration: 300ms *$i;
            timing-function: ease-in-out;
            fill-mode: forwards;
          }
        }
      }
      @keyframes comments{
        0%{
          opacity: 0;
          transform: translateX(300px);
        }
        100%{
          opacity: 1;
          transform: translateX(0px);
        }
      }
    }
  }
}