.ql-editor strong{
    font-weight:bold;
}

#loading{
    margin-top: 20px;
    overflow: hidden;
}

#class-db-input{
    width: 85%;
    margin-top: 104px;
}

#verify-teacher{
    
}

#verify-teacher-container {
    padding-top: 84px;
    max-width: 1240px;
    width: 60%;
    //margin-top: 22px;
  
    #verify-left {
      background-color: $primarylight2;
      height: 86vh;
      border-top-left-radius: 1vh;
      border-bottom-left-radius: 1vh;
    }
  }