#newsfeed {
  //height: 100vh;
  min-width: 500px;
  max-width: 500px;
  background-color: $primarylight2;
  overflow-y: auto;
  color: $textcolor;
  padding: 0 !important;

  .myhoverable {
    transition: box-shadow 0.25s;
  }

  .myhoverable:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .feed-post {
    max-height: 40vh;
    background-color: $feedbackgroundcolor;
    margin-bottom: 20px;
    padding: 18px 18px 0;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border-style: solid;
    border-width: 1.2px;
    border-color: grey;
    overflow: auto;
    line-height: 1.6;
    font-size: 12px;

    h3 {
      font-weight: 120;
      font-size: 1.6rem;
      color: white;
      text-align: left;
      margin: 0;

      a:hover {
        text-decoration: underline;
      }

      a {
        color: $textcolor;
        text-align: left;
        display: flex;
      }
    }

    .divider {
      margin-top: 8px;
      margin-bottom: 10px;
      background-color: #a1a1a1;
    }

    .feed-item-body {
      overflow: hidden;
      max-height: 12vh;
      .inputed-post {
        overflow: auto;

        h1,
        h2,
        h3,
        h4,
        h5 {
          margin: 12px 0;
          text-align: left;
          font-size: 20px;
        }

        p {
          width: 100%;
          overflow: auto;

          u {
            text-align: left;
          }
        }
      }

      p {
        color: $textcolor;
        text-align: left;
        float: left;
        margin: 0;
      }

      ol,
      ul {
        li {
          text-align: left;
        }
      }

      blockquote {
        text-align: left;
      }
    }

    .read-more-link {
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      text-align: left;
      display: flex;
      color: black;
    }

    .feed-item-footer {
      color: $textcolor;
      display: block;

      .feed-item-footer-left {
        //background-color: #D3D3D3;
        border-radius: 7px;
        width: 100%;
        text-align: left;

        time {
          display: inline-block;
          color: $textcolor;
          text-align: left;
        }

        span {}

        strong {
          display: inline-block;
          color: $textcolor;
          text-align: left;

          a {
            display: inline-block;
            color: $textcolor;
            text-align: left;
          }
        }

        .chip {
          margin-left: 5px;
          color: $textcolor;
        }

        .comment-button {
          display: inline-block;
          float: right;
          display: table;

          .i-wrapper {
            display: inline-block;
            margin: auto 0;

            i {
              margin-right: 10px;
              padding: 5px;
            }
          }

          span {
            display: table-cell;
            vertical-align: middle;
          }
        }
      }
    }

    .comments-container {
      display: none;
    }

    .show {
      display: block !important;
    }

    #comment-section {
      display: none;

      h4 {}

      .input-comment-header {
        display: block;
        float: left;
        width: 100%;
        font-size: 18px;

        i {
          font-size: 18px;
        }
      }

      .comments {}

      .new-comment {
        form {
          .input-comment-section {
            padding: 5px 0;

            .user-pic-wrapper {
              .user-pic {
                display: inline-block;
                float: left;
                height: 34px;
                width: 34px;
                border-radius: 50%;
              }
            }

            .input-comment-body {
              input {
                display: inline-block;
                width: 80%;
              }
            }
          }
        }
      }
    }
  }
}
//////////////////////Old cart styles below

#newsfeed .card-top {
  height: 55px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

#newsfeed .card-top .username {
  margin-left: 10px;
}

#newsfeed .card-top .responsive-img {
  float: left;
  margin-left: 9px;
  max-width: 85%;
  max-height: 85%;
}
