#newsfeed {
  height: 100vh;
  margin-left: 10px;
  -webkit-box-shadow: 0 0 18px -5px rgba(0,0,0,0.65);
  -moz-box-shadow: 0 0 18px -5px rgba(0,0,0,0.65);
  box-shadow: 0 0 18px -5px rgba(0,0,0,0.65);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border-style: solid;
  border-width: 4px;
  border-color: grey;
  background-color: $primarylight;
  overflow-y: auto;
  color: white;

  .feed-post {
    background-color: $feedbackgroundcolor;
    margin-bottom: 20px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border-style: solid;
    border-width: 2px;
    border-color: grey;
    padding: 1rem;
    overflow: auto;
    line-height: 1.6;

    h3 {
      font-weight: 120;
      font-size: 1.7rem;
      color: white;
      text-align: left;
      margin: 0;

      a:hover {
        text-decoration: underline;
      }

      a {
        color: $textcolor;
        text-align: left;
      }
    }

    .divider {
      margin-top: 8px;
      background-color: #a1a1a1;
    }

    .feed-item-body {
      p {
        color: $textcolor;
        text-align: left;
        float: left;
      }

      .read-more-link {
        margin-bottom: 10px;
        display: block;
        color: $textcolor;
        text-align: left;
      }
    }

    .feed-item-footer {
      color: $textcolor;

      .feed-item-footer-left {
        width: 100%;
        text-align: left;

        time {
          display: inline-block;
          color: $textcolor;
          text-align: left;
        }

        span {}

        strong {
          display: inline-block;
          color: $textcolor;
          text-align: left;

          a {
            display: inline-block;
            color: $textcolor;
            text-align: left;
          }
        }

        .chip {
          margin-left: 5px;
          color: $textcolor;
        }
      }
    }
  }
}
//////////////////////Old cart styles below

#newsfeed .card-top {
  height: 55px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

#newsfeed .card-top .username {
  margin-left: 10px;
}

#newsfeed .card-top .responsive-img {
  float: left;
  margin-left: 9px;
  max-width: 85%;
  max-height: 85%;
}
