.profile-container{
    //display: flex;
    //justify-content: right;
    .profile-left-section{
        height: 80vh;
        width: 200px;
        .profile-avatar{
            border: 0.05em solid grey;
            width: 200px;
            height: 200px;
            img{
                width: 100%;
                vertical-align: middle;
            }
            a{
                float: right;
                position: relative;
                bottom: 37px;
                right: 5px;
            }
        }
        .divider{
            margin: 10px 0 0 0;
            background-color: white;
            opacity: 0.4;
        }
        .social-media-links{
            display: flex;
            justify-content: baseline;
            margin-top: 12px;
            #facebook-link,
            #twitter-link,
            #instagram-link,
            #linkedIn-link,
            #gitHub-link{
                margin: 0 5px;
                font-size: 2em;
            }
        }
        .social-media-FAB{
            display: flex;
            position: relative;
            height: 50px;
            width: 100%;
            overflow: visible;
            margin-top: 10px;
            #edit-social-media-links{
                position: static;
                ul{
                    left: 40px;
                    top: 22px;
                }
            }
        }
        .profile-contact-info{
            display: block;
            word-wrap: break-word;
            font-size: 0.8em;
            p{
                margin: 0;
            }
        }
    }
    .profile-name{
        display:inline-block;
        margin-left: 20px;
        width: 100%;
        height:50px;
        p{
            display: inline;
        }
    }
    .bio{
        border: black solid 1px;
        width: 80%;
        height: 40vh;
    }
    .research{
        width: 20%;
        border: black solid 1px;
    }
    .projects{
        width: 20%;
        border: black solid 1px;
    }
    .resume{
        display: inline-block;
        width:10%;
        border: black solid 1px;
    }
}