#register-form {
  width: 75%;
  height: 93vh;
  background-color: #c3ccd8;
  border-radius: 10px;
  margin: 0 auto;
  padding-top: 0;

  .reusable-header {
    display: flex;
    justify-content: center;
  }

  .register-input-fields {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
  }
}

#login-form {}

.container {
  .row {
    #login-form {
      background-color: #c3ccd8;
      margin: 0 auto;
      text-align: center;
      width: 75%;
      max-width: 835px;
      height: 70vh;
      max-height: 400px;
      border-radius: 10px;

      .reusable-header {
        display: flex;
        justify-content: center;
      }

      .login-input-fields {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      #login {
        display: flex;
        flex-direction: column;
        padding: 0 30px;
        width: 400px;

        .row {
          margin: 0;
        }
      }
    }
  }
}
