#register-form{
    width:50%;
    height: 93vh;
    background-color: white;
    margin: 0 auto 0 auto;
    padding-top: 104px;
}

#login-form{
    width:50%;
    height: 93vh;
    background-color: white;
    margin: 0 auto 0 auto;
    padding-top: 104px;
}

