#right-section {
  height: 100vh;
  background-color: $primarylight2;
  //position: absolute;
  //left: 1000px;
  margin: 0 auto 0 10%;

  h4 {
    text-align: center;
    font-size: 2.0rem;
  }

  ul {
    text-align: center;

    li {
      padding: 5px 0;
      text-align: center;
    }
  }
}
