// Variables
$primary-background: #1e88e5;

#sidenav-background {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  //Below is the old color
  //background-color: $primary-background;
  background-color: #3b5ca7;
}

.sidenav_avatars {
  float: left;
  top: auto;
  bottom: auto;
  border-radius: 50%;
  width: 38px;
  height: 38px;
}

.sidenav {
  .log_out{
    margin-bottom: 80px;
  }
  li {
    .subheader {
      .material-icons {
        margin-left: 5px;
      }
    }

    .sidenav_username {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .sidenav_avatars {
        margin-left: 25px;
      }

      i {
        position: relative;
        left: 50px;
        float: right;
        margin-left: 12px;
      }

      span {
        margin-left: 11px;
      }

      a {
        flex-grow: 300px;
        color: #3A5BA6;
        position: absolute;
        left: 205px;

        .material-icons {
          margin-left: 0;
          position: absolute;
          left: 5px;
          top: -10px;
        }

        .fas.fa-user {
          position: absolute;
          left: 35px;
          top: -6px;
        }
      }

      a:hover {
        color: #039be5;
      }
    }
  }
}

.hidden {
  display: none !important;
}

.sidenav_subheader {
  width: 100%;

  .right-icon {
    float: right !important;
  }
}

.sidenav_subheader:hover {
  background-color: $primarylight2;
}
