// Variables
$primary-background: #1e88e5;

#sidenav-background {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  //Below is the old color
  //background-color: $primary-background;
  background-color: #3b5ca7;
}
