// Variables
$primary-background: #1e88e5;

#sidenav-background {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  //Below is the old color
  //background-color: $primary-background;
  background-color: #3b5ca7;
}

.sidenav_avatars {
  float: left;
  top:auto;
  bottom: auto;
  border-radius: 50%;
  width: 38px;
  height: 38px;
}

.sidenav_username {
  display: flex;
  align-items: center;
  justify-items: center;
  top: 0;
  bottom: 0;
}