#chat-box {
  margin-top: 15px;
  width: 100%;
  height: 60vh;
  border: 1px solid black;
  border-radius: 3px;
  text-align: left;
  overflow: auto;
}

.input-field {
  margin-left: 0 !important;
  padding-left: 0 !important;

  #textarea1 {}
}

.send-container {
  margin-top: 14px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .circle {
    height: 44px;
    width: 44px;
    margin-right: 10px;
  }

  .input-wrapper {
    width: 100%;
    height: 35px;
    overflow: auto;
    border-radius: 16px;
    border: 1px solid grey;

    #textarea1 {
      height: 35px;

      input {
        height: 35px;
        margin: 0 0 0 16px;
        position: relative;
        top: -2.5px;
      }

      input::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: black;
        opacity: 0.55;
        font-size: 15px;
        /* Firefox */
      }

      input[type="text"]:not(.browser-default) {
        border-bottom: 0 solid #000;
      }
    }
  }

  button {
    margin-left: 10px;
  }
}
