@import "leftsection";
@import "rightsection";
/*Below is the CSS reset*/
/* HTML5 display-role reset for older browsers */
body {
  line-height: 1;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
/*Above is the CSS reset*/
#global-container {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.nav-wrapper {
  background-color: #3B3B47;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.container-fluid {
  background: #0f0c29;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

.container {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12), 0 0 0 0 rgba(0, 0, 0, 0.2);
  background-color: #3B3B47;
}

#content-area {
  min-height: 100vh;
  min-width: 100vh;
  width: 100%;
  display: inline-block;
  margin: 0 auto;
}

#content-area-row {
  margin: 0 auto;
  width: 100%;
  max-width: 1012px !important;
  text-align: center;
}

#left-section {
  height: 100vh;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  background-color: #FFD133;
}
//Below is the CSS for the Newsfeed section

#newsfeed {
  height: 100vh;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  background-color: teal;

  h3 {
    color: white;
  }
  //Below I have the CSS for a post
  #post {
    display: block;
    overflow: auto;
    padding: 0 5px;

    .card {}

    .card-top {
      height: 55px;
      overflow: hidden;
      display: flex;
      align-items: center;

      .responsive-img {
        float: left;
        margin-left: 9px;
        max-width: 85%;
        max-height: 85%;
      }

      .userimage {}

      .username {
        margin-left: 10px;
      }
    }

    .post-content {
      .post-text {
        text-align: left;
      }
    }

    .activity-section {
      .user-actions {
        height: 15px;
        display: block;

        .fa {
          float: left;
          margin-right: 15px;
        }
      }

      .comments {
        ul {
          li {
            float: left;
            padding-top: 4px;

            a {}

            span {}
          }
        }
      }

      .input-comment {
        input {
          border-bottom: 0;
        }
      }
    }
  }
  //Above I have the CSS for a post
}
//Above we have the newsfeed CSS

#right-section {
  height: 100vh;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  background-color: #800000;
}
