#postBox {
  background-color: #FFFFFF;
  border: solid;
  border-radius: 1vh; }
  #postBox h1 {
    color: red; }

#sidenav-background {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #1e88e5; }

.alert-box {
  display: block;
  width: 100%;
  min-height: 5vmax;
  border-radius: 5px;
  margin: 10px auto;
  background-color: #34555e;
  overflow: hidden; }
  .alert-box .alert-header {
    display: block;
    min-height: 50px;
    border-bottom: 1px solid #608d8b;
    color: white;
    align-items: baseline; }
    .alert-box .alert-header .alert-type i {
      font-size: 3rem;
      margin-left: 8px;
      margin-right: 8px; }
    .alert-box .alert-header .alert-type div {
      display: inline-block;
      font-size: 2rem;
      margin-bottom: 10px; }

.alert-message p {
  padding: 10px;
  margin: 5px 10px 5px 10px;
  color: #fff;
  text-align: left;
  overflow: hidden;
  font-size: 1.2rem; }

#header-div {
  height: 64px; }

#header-div::after {
  content: "";
  clear: both;
  display: block; }

#header-nav {
  background-color: #1e88e5; }
  #header-nav #nav-wrapper #header-row {
    height: 64px;
    margin: 0; }
    #header-nav #nav-wrapper #header-row #header-logo {
      height: 64px; }
      #header-nav #nav-wrapper #header-row #header-logo .brand-logo {
        height: 64px; }
        #header-nav #nav-wrapper #header-row #header-logo .brand-logo img {
          max-width: 100%;
          height: 100%; }
      #header-nav #nav-wrapper #header-row #header-logo a {
        height: 64px; }
    #header-nav #nav-wrapper #header-row #header-search-bar {
      height: 64px; }
      #header-nav #nav-wrapper #header-row #header-search-bar .input-field {
        display: flex;
        align-items: center; }
        #header-nav #nav-wrapper #header-row #header-search-bar .input-field .input-field-wrapper {
          height: 64px;
          width: 100%; }
          #header-nav #nav-wrapper #header-row #header-search-bar .input-field .input-field-wrapper .label-icon {
            height: 64px; }
          #header-nav #nav-wrapper #header-row #header-search-bar .input-field .input-field-wrapper #search {
            display: inline-block;
            width: 90%;
            margin-bottom: 0;
            height: 30px; }
          #header-nav #nav-wrapper #header-row #header-search-bar .input-field .input-field-wrapper .material-icons {
            display: inline-block;
            width: 10%;
            height: 64px;
            padding-top: 4px;
            vertical-align: middle; }
    #header-nav #nav-wrapper #header-row #header-buttons {
      height: 64px; }
      #header-nav #nav-wrapper #header-row #header-buttons .right .header-user-btn a .hide-on-med-and-down {
        margin-left: 5px;
        vertical-align: top; }
  #header-nav #header-avatar {
    display: inline-block;
    margin-left: auto;
    margin-right: 5px; }
  #header-nav li {
    display: inline-block; }
  #header-nav .header-user-btn a {
    margin: 0 5px;
    padding: 0; }
  #header-nav .header-user-btn img {
    margin-top: 0.4em; }
  #header-nav .header-user-btn span {
    display: inline-block; }
  #header-nav .brand-logo {
    position: relative;
    display: inline-block; }

body {
  line-height: 1.2em;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #f5f5f5; }

#content-section-container {
  padding-top: 10px;
  height: 100vh;
  width: 100vh; }

#content-section-container {
  margin: 0 auto;
  max-width: 1440px;
  width: 90%; }

@media only screen and (min-width: 601px) {
  .container {
    width: 85%; } }

@media only screen and (min-width: 993px) {
  .container {
    width: 70%; } }

#content-area {
  min-height: 100vh;
  min-width: 100vh;
  width: 100%;
  display: inline-block;
  margin: 0 auto; }

#content-area-row {
  margin: 0 auto;
  width: 100%;
  text-align: center; }

#left-section {
  height: 100vh;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border-style: solid;
  border-width: 2px;
  border-color: grey;
  background-color: #FFD133; }

#newsfeed {
  height: 100vh;
  margin-left: 10px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border-style: solid;
  border-width: 4px;
  border-color: grey;
  background-color: teal;
  overflow-y: auto;
  color: white; }
  #newsfeed .feed-post {
    background-color: #f5f5f5;
    margin-bottom: 20px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border-style: solid;
    border-width: 2px;
    border-color: grey;
    padding: 1rem;
    overflow: auto;
    line-height: 1.6; }
    #newsfeed .feed-post h3 {
      font-weight: 120;
      font-size: 1.7rem;
      color: white;
      text-align: left;
      margin: 0; }
      #newsfeed .feed-post h3 a:hover {
        text-decoration: underline; }
      #newsfeed .feed-post h3 a {
        color: black;
        text-align: left; }
    #newsfeed .feed-post .divider {
      margin-top: 8px;
      background-color: #a1a1a1; }
    #newsfeed .feed-post .feed-item-body p {
      color: black;
      text-align: left;
      float: left; }
    #newsfeed .feed-post .feed-item-body .read-more-link {
      margin-bottom: 10px;
      display: block;
      color: black;
      text-align: left; }
    #newsfeed .feed-post .feed-item-footer {
      color: black; }
      #newsfeed .feed-post .feed-item-footer .feed-item-footer-left {
        width: 100%;
        text-align: left; }
        #newsfeed .feed-post .feed-item-footer .feed-item-footer-left time {
          display: inline-block;
          color: black;
          text-align: left; }
        #newsfeed .feed-post .feed-item-footer .feed-item-footer-left strong {
          display: inline-block;
          color: black;
          text-align: left; }
          #newsfeed .feed-post .feed-item-footer .feed-item-footer-left strong a {
            display: inline-block;
            color: black;
            text-align: left; }
        #newsfeed .feed-post .feed-item-footer .feed-item-footer-left .chip {
          margin-left: 5px;
          color: black; }

#newsfeed .card-top {
  height: 55px;
  overflow: hidden;
  display: flex;
  align-items: center; }

#newsfeed .card-top .username {
  margin-left: 10px; }

#newsfeed .card-top .responsive-img {
  float: left;
  margin-left: 9px;
  max-width: 85%;
  max-height: 85%; }

#right-section {
  height: 100vh;
  margin-left: 10px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border-style: solid;
  border-width: 2px;
  border-color: grey;
  background-color: #800000; }
