#postBox {
  background-color: #FFFFFF;
  border: solid;
  border-radius: 1vh; }
  #postBox h1 {
    color: red; }

#sidenav-background {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #1e88e5; }

.alert-box {
  display: block;
  width: 100%;
  min-height: 5vmax;
  min-width: 250px;
  border-radius: 5px;
  margin: 0 0 10px;
  background-color: #f5f5f5;
  overflow: hidden;
  color: black; }
  .alert-box .alert-header {
    display: table;
    width: 100%;
    background-color: #e9ebee;
    color: black; }
    .alert-box .alert-header i {
      margin: 5px;
      float: left;
      font-size: 1.8em;
      margin-left: 8px;
      margin-right: 8px; }
    .alert-box .alert-header h5 {
      min-height: 30px;
      float: left;
      margin: 4px;
      color: black; }
  .alert-box .divider {
    float: left;
    margin-top: 8px;
    background-color: #a1a1a1; }
  .alert-box .alert-message {
    display: block;
    color: black;
    overflow: auto; }
    .alert-box .alert-message p {
      color: black;
      margin: 5px 10px;
      line-height: 1.6;
      font-size: 12px;
      text-align: left;
      overflow: hidden; }
  .alert-box a {
    z-index: auto;
    float: right;
    background-color: #1565c0; }
  .alert-box .alert-footer {
    display: block;
    margin: 10px 0 0; }
    .alert-box .alert-footer span {
      display: inline-block;
      font-size: 0.75rem;
      margin: 0 0 0 10px;
      text-align: left;
      width: 70%;
      float: left; }
    .alert-box .alert-footer .expand-btn a {
      width: 20%;
      display: inline-block;
      margin: 5px;
      padding: 0 5px;
      font-size: 0.75em;
      max-height: 25px;
      background-color: #1565c0;
      z-index: auto; }

.modal-underlay {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0.7;
  background: black;
  overflow: hidden;
  z-index: 1; }

.modal {
  display: block;
  position: fixed;
  width: 32%;
  border-radius: 1vh;
  left: 0;
  right: 0;
  top: 35%;
  background-color: #005bb2;
  overflow: hidden;
  z-index: 1; }
  .modal .modal-content {
    color: white; }
    .modal .modal-content h4 {
      color: white; }
  .modal .modal-footer {
    display: block;
    height: 3vh; }
    .modal .modal-footer p {
      margin: 0 10px 0 0; }

#header-div {
  height: 64px; }

#header-div::after {
  content: "";
  clear: both;
  display: block; }

#header-nav {
  background-color: #1565c0; }
  #header-nav #nav-wrapper #header-row {
    height: 64px;
    margin: 0; }
    #header-nav #nav-wrapper #header-row #header-logo {
      height: 64px; }
      #header-nav #nav-wrapper #header-row #header-logo .brand-logo {
        height: 64px; }
        #header-nav #nav-wrapper #header-row #header-logo .brand-logo img {
          max-width: 100%;
          height: 100%; }
      #header-nav #nav-wrapper #header-row #header-logo a {
        height: 64px; }
    #header-nav #nav-wrapper #header-row #header-search-bar {
      height: 64px; }
      #header-nav #nav-wrapper #header-row #header-search-bar .input-field {
        display: flex;
        align-items: center; }
        #header-nav #nav-wrapper #header-row #header-search-bar .input-field .input-field-wrapper {
          height: 64px;
          width: 100%; }
          #header-nav #nav-wrapper #header-row #header-search-bar .input-field .input-field-wrapper .label-icon {
            height: 64px; }
          #header-nav #nav-wrapper #header-row #header-search-bar .input-field .input-field-wrapper #search {
            display: inline-block;
            width: 90%;
            margin-bottom: 0;
            height: 30px; }
          #header-nav #nav-wrapper #header-row #header-search-bar .input-field .input-field-wrapper .material-icons {
            display: inline-block;
            width: 10%;
            height: 64px;
            padding-top: 4px;
            vertical-align: middle; }
    #header-nav #nav-wrapper #header-row #header-buttons {
      height: 64px; }
      #header-nav #nav-wrapper #header-row #header-buttons .right .header-user-btn a .hide-on-med-and-down {
        margin-left: 5px;
        vertical-align: top; }
  #header-nav #header-avatar {
    display: inline-block;
    margin-left: auto;
    margin-right: 5px; }
  #header-nav li {
    display: inline-block; }
  #header-nav .header-user-btn a {
    margin: 0 5px;
    padding: 0; }
  #header-nav .header-user-btn img {
    margin-top: 0.4em; }
  #header-nav .header-user-btn span {
    display: inline-block; }
  #header-nav .brand-logo {
    position: relative;
    display: inline-block; }

body {
  line-height: 1.2em;
  display: flex;
  min-height: 100vh;
  height: 100vh;
  flex-direction: column;
  background-color: #e9ebee;
  font-family: 'Exo 2', sans-serif; }

#CSIBridge {
  background-color: #e9ebee;
  overflow: auto; }

#content-section-container {
  padding-top: 20px;
  height: 100%;
  width: 100vh; }

#content-section-container {
  margin: 0 auto;
  max-width: 1240px;
  width: 90%; }

@media only screen and (min-width: 601px) {
  .container {
    width: 85%; } }

@media only screen and (min-width: 993px) {
  .container {
    width: 70%; } }

#content-area {
  min-height: 100vh;
  min-width: 100vh;
  width: 100%;
  display: inline-block;
  margin: 0 auto; }

#content-area-row {
  margin: 0 auto;
  width: 100%;
  text-align: center; }

.middle-right-section {
  display: inline-block;
  padding: 0 !important;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  height: 100vh; }
  .middle-right-section .col,
  .middle-right-section .row {
    margin: 0; }

#left-section {
  width: 100%;
  -webkit-box-shadow: 0 0 18px -5px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 0 0 18px -5px rgba(0, 0, 0, 0.65);
  box-shadow: 0 0 18px -5px rgba(0, 0, 0, 0.65);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #c3ccd8;
  overflow-y: auto;
  display: inline-block; }
  #left-section .expand-btn {
    vertical-align: middle; }
    #left-section .expand-btn .btn {
      background-color: #1565c0; }

#newsfeed {
  min-width: 500px;
  max-width: 500px;
  background-color: #c3ccd8;
  overflow-y: auto;
  color: black;
  padding: 0 !important;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px; }
  #newsfeed .myhoverable {
    transition: box-shadow 0.25s; }
  #newsfeed .myhoverable:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  #newsfeed .feed-post {
    max-height: 40vh;
    background-color: #f5f5f5;
    margin-bottom: 20px;
    padding: 18px 18px 0;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border-style: solid;
    border-width: 1.2px;
    border-color: grey;
    overflow: auto;
    line-height: 1.6;
    font-size: 12px; }
    #newsfeed .feed-post h3 {
      font-weight: 120;
      font-size: 1.6rem;
      color: white;
      text-align: left;
      margin: 0; }
      #newsfeed .feed-post h3 a:hover {
        text-decoration: underline; }
      #newsfeed .feed-post h3 a {
        color: black;
        text-align: left;
        display: flex; }
    #newsfeed .feed-post .divider {
      margin-top: 8px;
      margin-bottom: 10px;
      background-color: #a1a1a1; }
    #newsfeed .feed-post .feed-item-body {
      overflow: hidden;
      max-height: 12vh; }
      #newsfeed .feed-post .feed-item-body .inputed-post {
        overflow: auto; }
        #newsfeed .feed-post .feed-item-body .inputed-post h1,
        #newsfeed .feed-post .feed-item-body .inputed-post h2,
        #newsfeed .feed-post .feed-item-body .inputed-post h3,
        #newsfeed .feed-post .feed-item-body .inputed-post h4,
        #newsfeed .feed-post .feed-item-body .inputed-post h5 {
          margin: 12px 0;
          text-align: left;
          font-size: 20px; }
        #newsfeed .feed-post .feed-item-body .inputed-post p {
          width: 100%;
          overflow: auto; }
          #newsfeed .feed-post .feed-item-body .inputed-post p u {
            text-align: left; }
      #newsfeed .feed-post .feed-item-body p {
        color: black;
        text-align: left;
        float: left;
        margin: 0; }
      #newsfeed .feed-post .feed-item-body ol li,
      #newsfeed .feed-post .feed-item-body ul li {
        text-align: left; }
      #newsfeed .feed-post .feed-item-body blockquote {
        text-align: left; }
    #newsfeed .feed-post .read-more-link {
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      text-align: left;
      display: flex;
      color: black; }
    #newsfeed .feed-post .feed-item-footer {
      color: black;
      display: block; }
      #newsfeed .feed-post .feed-item-footer .feed-item-footer-left {
        border-radius: 7px;
        width: 100%;
        text-align: left; }
        #newsfeed .feed-post .feed-item-footer .feed-item-footer-left time {
          display: inline-block;
          color: black;
          text-align: left; }
        #newsfeed .feed-post .feed-item-footer .feed-item-footer-left strong {
          display: inline-block;
          color: black;
          text-align: left; }
          #newsfeed .feed-post .feed-item-footer .feed-item-footer-left strong a {
            display: inline-block;
            color: black;
            text-align: left; }
        #newsfeed .feed-post .feed-item-footer .feed-item-footer-left .chip {
          margin-left: 5px;
          color: black; }
        #newsfeed .feed-post .feed-item-footer .feed-item-footer-left .comment-button {
          display: inline-block;
          float: right;
          display: table; }
          #newsfeed .feed-post .feed-item-footer .feed-item-footer-left .comment-button .i-wrapper {
            display: inline-block;
            margin: auto 0; }
            #newsfeed .feed-post .feed-item-footer .feed-item-footer-left .comment-button .i-wrapper i {
              margin-right: 10px;
              padding: 5px; }
          #newsfeed .feed-post .feed-item-footer .feed-item-footer-left .comment-button span {
            display: table-cell;
            vertical-align: middle; }
    #newsfeed .feed-post .comments-container {
      display: none; }
    #newsfeed .feed-post .show {
      display: block !important; }
    #newsfeed .feed-post #comment-section {
      display: none; }
      #newsfeed .feed-post #comment-section .input-comment-header {
        display: block;
        float: left;
        width: 100%;
        font-size: 18px; }
        #newsfeed .feed-post #comment-section .input-comment-header i {
          font-size: 18px; }
      #newsfeed .feed-post #comment-section .new-comment form .input-comment-section {
        padding: 5px 0; }
        #newsfeed .feed-post #comment-section .new-comment form .input-comment-section .user-pic-wrapper .user-pic {
          display: inline-block;
          float: left;
          height: 34px;
          width: 34px;
          border-radius: 50%; }
        #newsfeed .feed-post #comment-section .new-comment form .input-comment-section .input-comment-body input {
          display: inline-block;
          width: 80%; }

#newsfeed .card-top {
  height: 55px;
  overflow: hidden;
  display: flex;
  align-items: center; }

#newsfeed .card-top .username {
  margin-left: 10px; }

#newsfeed .card-top .responsive-img {
  float: left;
  margin-left: 9px;
  max-width: 85%;
  max-height: 85%; }

#right-section {
  background-color: #c3ccd8;
  margin: 0;
  padding: 0;
  /* Dropdown Button */
  /* Dropdown button on hover & focus */
  /* The container <div> - needed to position the dropdown content */
  /* Dropdown Content (Hidden by Default) */
  /* Links inside the dropdown */
  /* Change color of dropdown links on hover */
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */ }
  #right-section h4 {
    text-align: center;
    font-size: 2.0rem; }
  #right-section .dropdown {
    position: relative;
    display: inline-block;
    margin-top: 35px; }
    #right-section .dropdown .dropbtn {
      display: block;
      position: relative;
      min-width: 90px;
      background-color: #1565c0;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: 1px solid #1565c0;
      cursor: pointer;
      -webkit-border-top-left-radius: 8px;
      -webkit-border-top-right-radius: 8px;
      -moz-border-radius-topleft: 8px;
      -moz-border-radius-topright: 8px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      z-index: auto;
      margin-top: 20px; }
      #right-section .dropdown .dropbtn:focus, #right-section .dropdown .dropbtn:hover {
        background-color: #2980B9; }
  #right-section #class1,
  #right-section #class2,
  #right-section #class3,
  #right-section #class4 {
    display: none;
    position: relative;
    top: -5px;
    background-color: #f1f1f1;
    color: black;
    min-width: 90px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    z-index: 1;
    animation: menu1 300ms linear forwards; }

@keyframes menu1 {
  0% {
    opacity: 0;
    max-height: 0;
    transform: scaleY(0%) translateY(0px); }
  100% {
    opacity: 1;
    max-height: 150px;
    transform: scaleY(100%) translateY(0px); } }
    #right-section #class1 ul,
    #right-section #class2 ul,
    #right-section #class3 ul,
    #right-section #class4 ul {
      padding: 4px;
      border-radius: 8px;
      margin-bottom: 0; }
  #right-section .classesDropdown {
    display: none;
    position: relative;
    background-color: #f1f1f1;
    color: black;
    min-width: 90px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1; }
  #right-section .classesDropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block; }
  #right-section .classesDropdown a:hover {
    background-color: #ddd; }
  #right-section .show {
    display: block !important; }
  #right-section ul {
    margin: 0;
    text-align: center; }
    #right-section ul li {
      padding: 5px 0;
      text-align: center; }

.ql-editor strong {
  font-weight: bold; }

#loading {
  margin-top: 20px;
  overflow: hidden; }

#event-section-container {
  max-width: 1240px;
  width: 90%;
  margin-top: 22px; }
  #event-section-container #content-area-row .user-col {
    text-align: right; }
    #event-section-container #content-area-row .user-col .user-pic-wrapper {
      width: 100%;
      overflow: auto; }
      #event-section-container #content-area-row .user-col .user-pic-wrapper .user-pic {
        border-radius: 50%;
        float: right; }
      #event-section-container #content-area-row .user-col .user-pic-wrapper .user-name {
        margin: 0 !important;
        text-align: right; }
      #event-section-container #content-area-row .user-col .user-pic-wrapper .time {
        margin: 0 !important;
        text-align: right; }
  #event-section-container #content-area-row #event-editor-area {
    background-color: #FFFFFF;
    -webkit-box-shadow: -1px 1px 25px -9px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: -1px 1px 25px -9px rgba(0, 0, 0, 0.7);
    box-shadow: -1px 1px 25px -9px rgba(0, 0, 0, 0.7);
    border: 1px solid #aaa;
    border-radius: 4px;
    margin: 0;
    padding: 0; }
    #event-section-container #content-area-row #event-editor-area .event-editor-area-wrapper .post-event-header {
      background-color: #c3ccd8;
      height: 70px;
      padding: 16px 30px; }
      #event-section-container #content-area-row #event-editor-area .event-editor-area-wrapper .post-event-header h4 {
        margin: 0;
        padding: 0;
        font-size: 25px;
        text-align: left;
        display: flex;
        align-items: center; }
    #event-section-container #content-area-row #event-editor-area .event-editor-area-wrapper .post-event-body {
      background-color: #c3ccd8;
      padding: 0 30px 16px;
      height: 100%;
      overflow: auto; }
      #event-section-container #content-area-row #event-editor-area .event-editor-area-wrapper .post-event-body #event-header {
        text-align: left;
        font-size: 1.4em;
        background-color: #c3ccd8;
        border-color: #DEDEDE; }
        #event-section-container #content-area-row #event-editor-area .event-editor-area-wrapper .post-event-body #event-header input {
          background-color: white;
          margin-top: 10px;
          -webkit-box-shadow: 0 0 18px -5px rgba(0, 0, 0, 0.65);
          -moz-box-shadow: 0 0 18px -5px rgba(0, 0, 0, 0.65);
          box-shadow: 0 0 18px -5px rgba(0, 0, 0, 0.65);
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 6px;
          height: 38px; }
        #event-section-container #content-area-row #event-editor-area .event-editor-area-wrapper .post-event-body #event-header input::-webkit-input-placeholder {
          /* WebKit, Blink, Edge */
          color: #808080; }
      #event-section-container #content-area-row #event-editor-area .event-editor-area-wrapper .post-event-body #quill-area {
        height: 83vh;
        display: block;
        margin-top: 26px; }
        #event-section-container #content-area-row #event-editor-area .event-editor-area-wrapper .post-event-body #quill-area .ql-toolbar {
          background-color: white;
          border-radius: 0.6em;
          margin-bottom: 10px; }
        #event-section-container #content-area-row #event-editor-area .event-editor-area-wrapper .post-event-body #quill-area .ql-container {
          background-color: white;
          font-size: 1.2em; }
        #event-section-container #content-area-row #event-editor-area .event-editor-area-wrapper .post-event-body #quill-area #saveDelta {
          background-color: #1565c0;
          margin-top: 5px;
          margin-left: 10px;
          float: right; }
  #event-section-container #preview {
    margin-top: 22px;
    margin-bottom: 30px;
    background: #c3ccd8;
    display: block;
    height: 25vh; }

#right-section {
  background-color: #c3ccd8;
  margin: 0;
  padding: 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  max-width: 185px;
  margin: 0 auto;
  height: 600px;
  /* Dropdown Button */
  /* Dropdown button on hover & focus */
  /* The container <div> - needed to position the dropdown content */
  /* Dropdown Content (Hidden by Default) */
  /* Links inside the dropdown */
  /* Change color of dropdown links on hover */
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */ }
  #right-section .myclassesheader {
    margin: 0;
    text-align: center;
    font-size: 2.0rem; }
  #right-section .dropdown {
    position: relative;
    display: inline-block;
    margin-top: 35px; }
    #right-section .dropdown .dropbtn {
      display: block;
      position: relative;
      min-width: 100px;
      background-color: 1565c0;
      color: white;
      padding: 14px;
      font-size: 14px;
      border: 1px solid #3498DB;
      cursor: pointer;
      -webkit-border-top-left-radius: 8px;
      -webkit-border-top-right-radius: 8px;
      -moz-border-radius-topleft: 8px;
      -moz-border-radius-topright: 8px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      z-index: auto;
      margin-top: 20px; }
      #right-section .dropdown .dropbtn:focus, #right-section .dropdown .dropbtn:hover {
        background-color: #2980B9; }
  #right-section #class1,
  #right-section #class2,
  #right-section #class3,
  #right-section #class4 {
    display: none;
    position: relative;
    top: -5px;
    background-color: #f1f1f1;
    color: black;
    min-width: 90px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    z-index: 1;
    animation: menu1 300ms linear forwards; }

@keyframes menu1 {
  0% {
    opacity: 0;
    max-height: 0;
    transform: scaleY(0%) translateY(0px); }
  100% {
    opacity: 1;
    max-height: 150px;
    transform: scaleY(100%) translateY(0px); } }
    #right-section #class1 ul,
    #right-section #class2 ul,
    #right-section #class3 ul,
    #right-section #class4 ul {
      padding: 4px;
      border-radius: 8px;
      margin-bottom: 0; }
  #right-section .classesDropdown {
    display: none;
    position: relative;
    background-color: #f1f1f1;
    color: black;
    min-width: 90px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1; }
  #right-section .classesDropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block; }
  #right-section .classesDropdown a:hover {
    background-color: #ddd; }
  #right-section .show {
    display: block !important; }
  #right-section ul {
    margin: 0;
    text-align: center; }
    #right-section ul li {
      padding: 5px 0;
      text-align: center; }

#alert-preview {
  width: 50%;
  display: block;
  float: center; }

.user-col {
  text-align: right; }
  .user-col .user-pic-wrapper {
    width: 100%;
    overflow: auto; }
    .user-col .user-pic-wrapper .user-pic {
      border-radius: 50%;
      float: right; }
    .user-col .user-pic-wrapper .user-name {
      margin: 0 !important;
      text-align: right; }
    .user-col .user-pic-wrapper .time {
      margin: 0 !important;
      text-align: right; }
